<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comming soon</title>
{{>cssLinks}}
</head>
<body>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto full_main">
<!-- Main Start Div  -->

<!-- Navbar  -->

    {{>navbar}}
    <div class="mainSoon">
        <h1></h1>
        <p>Powerd by <span>w3.css</span></p>
        <div class="centerSoon">
            <h1>COMING SOON</h1>
            <hr class="rSoon">
            <span>35 days left</span>
        </div>
    </div>

{{>footer}}

<!-- Footer End  -->
<!-- Main Div Close  -->
        </div>
    </div>
</div>
 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>