<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheater App</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
   {{>cssLinks}}

</head>
<body>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto full_main">
<!-- Main Start Div  -->

<!-- Navbar  -->

    {{!-- Header navbar  --}}

{{>navbar}}


    {{!-- Navbar End  --}}
    <div class="outerMainBox">
        <div class="mainBox">
<div class="sunIcon">
    <i class="fas fa-sun"></i>
</div>
<div class="animationDiv1"></div>
<div class="animationDiv2"></div>
<div class="animationDiv3"></div>
<div class="animationDiv4"></div>
<div class="animationDiv5"></div>
<div class="animationDiv6"></div>
<div class="animationDiv7"></div>

<div class="contentDiv">
    <div class="countryName">
        {{!-- <h2><i class="fas fa-male"></i> {%location%}, {%country%}</h2> --}}
        <h2><i class="fas fa-male"></i> <span id="locationOrCountry"></span></h2>
    </div>
    <div class="date" id="date">
        <h2>Tuesday | Jan 11 | 11:00 PM</h2>
    </div>
    
    <div class="temperature">
        <h2><span id="temp"></span> &deg;C</h2>
    </div>
    <div class="temperatureDetail">
        <h2 id="minMax"></h2>
    </div>
</div>
   






        </div>
    </div>
{{!-- Footer  --}}

{{>footer}}


<!-- Main Div Close  -->
        </div>
    </div>
</div>
 

<script>
//Get Data Portion first

const date=document.getElementById('date');


const getDate=new Date();

//Get Day
const day=getDate.getDay();


const dayArr=[
    'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'
];

const finalDay=dayArr[day-1];

//Get  year

const finalYear=getDate.getFullYear();
//Get Month


const month=getDate.getMonth();

const monthArr=[
    'Jan','Feb','March','April','May','June','July','Aug','Sep','Oct','Nov','Dec'
];

const finalMonth=monthArr[month];


// Get Date


let dateMonth=getDate.getDate();
if(dateMonth<10){
     dateMonth="0"+dateMonth;
}
//Get Minute


let minute=getDate.getMinutes();
if(minute<10){
    minute="0"+ minute;
}


//Get Hours


let hours=getDate.getHours();
if(hours>12){
    hours=hours-12; 
   

}
else if(hours>=12){
    minute=minute + " PM "

}else{
    minute=minute + " AM "
}




const fullCombineDate=`${finalDay}  | ${dateMonth} ${finalYear}  | &nbsp;  ${hours} : ${minute} `; 

date.innerHTML=fullCombineDate;
// weather Fetching Details 

const allDetailFunc=async ()=>{

    const locationOrCountry=document.getElementById('locationOrCountry');
    const minMax=document.getElementById('minMax');
    const temp=document.getElementById('temp');
let url=`https://api.openweathermap.org/data/2.5/weather?q=sargodha&appid=221e1dd3e2c846b565db0dbe23cb240b`;

const data =await fetch(url);
const jsonData=await data.json();
const jsonDataArr=[jsonData];
locationOrCountry.innerText=`${jsonDataArr[0].sys.country}  | ${jsonDataArr[0].name}`;
const minVal=jsonDataArr[0].main.temp_min;
minMax.innerText=`Min :${minVal} K |  Max :${jsonDataArr[0].main.temp_max} K`;
const toCel=Math.round(jsonDataArr[0].main.temp-273.15);
temp.innerText=`${toCel}`;
}

allDetailFunc();


</script>    <!-- <script src="js/index.js"></script> -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {{!-- <script src="js/serverFile.js"></script> --}}
</body>
</html>